<div class="pb-4">
    <div class="container pt-2" style="background-color: white;">

        <div class="row">
            <div class="col-9 mt-2">
                <h3 class="fw-light">Prohibition</h3>
            </div>
        </div>
        <hr>

        <div class="row p-4 sci-fi-background">
            <div class="col">
                <div class="input-section">
                    <p class="fw-light"><b>Number/s</b></p>
                    <textarea class="sci-fi-textarea" rows="2"></textarea>
                    <div>
                        <button class="sci-fi-button">+Add</button>
                    </div>
                </div>
        
                <div class="mt-4">
                    <table class="sci-fi-table">
                        <tr>
                            <th>Numbers in</th>
                            <th>Numbers out</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-fi-box">
                                    <textarea class="sci-fi-textarea" rows="9"></textarea>
                                    <div class="sci-fi-buttons">
                                        <button class="sci-fi-btn">v</button>
                                        <button class="sci-fi-btn">^</button>
                                    </div>
                                    <div class="sci-fi-btn-group">
                                        <button class="sci-fi-btn">-></button>
                                        <button class="sci-fi-btn"><-</button>
                                        <button class="sci-fi-btn">--></button>
                                        <button class="sci-fi-btn"><--</button>
                                        <button class="sci-fi-btn"><*> </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="sci-fi-box mb-4">
                                    <textarea class="sci-fi-textarea" rows="9"></textarea>
                                    <div class="sci-fi-buttons">
                                        <button class="sci-fi-btn">v</button>
                                        <button class="sci-fi-btn">^</button>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
        
                <div class="container pb-2 sci-fi-background">
                    <div class="row">
                        <div class="col-9 d-flex align-items-center">
                            <label for="datepicker" class="fw-light">Date to: </label>
                            <input id="datepicker" type="text" class="form-control sci-fi-input ms-2" bsDatepicker>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            <input class="sci-fi-submit" type="button" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="container">
                <table class="table table-striped">
                    <thead class="blue-thead">
                        <tr >
                            <th scope="col"></th>
                            <th scope="col">Date to</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Date created</th>
                            <th scope="col">Numbers</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>29.07.2019 12:00</td>
                            <td>admin</td>
                            <td>24.07.2019 10:46</td>
                            <td>70212400</td>
                            <td><button>Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container pb-2" style="background-color: #dce1e8;">
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <span  class="extra-small-text">
                           Total: <b>179</b> numbers 
                        </span>  
                        <span  class="extra-small-text ps-3">
                            Page: <b>1/18</b> <a href="#" style="text-decoration: none;"> Next</a> 
                         </span>    
                    </div>
              </div>
        </div>
    </div>
</div>