.extra-small-text{
  font-size: 0.75rem;
}
.blue-thead th {
  background-color: #556B2F !important;
  color: white !important; 
}
.form-inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Space between rows */
}
.form-inline label {
  margin-right: 10px; /* Space between label and input */
}
.form-control {
  width: 200px; /* Adjust width as needed */
}

table thead .thead-blue tr{
  background-color: #556B2F !important;
}

.extra-extra-small-text{
  font-size: 0.65rem;
}

.style-buttons{
    background-color: rgba(152,143,122,255);
    color: white;
}

.custom-text{
  color: white;
}

.style-buttons-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Пример за сенка */
}

/* General sci-fi background */
.sci-fi-background {
  background-color: #f6f3f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Sci-fi input section */
.input-section {
  margin-bottom: 20px;
}

.input-label {
  color: #556B2F;
  font-family: 'Orbitron', sans-serif;
}

.sci-fi-textarea {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #556B2F;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.5);
  resize: none;
}

/* Sci-fi buttons */
.sci-fi-button {
  border: 2px solid #556B2F;
  color: #40fe98;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(64, 254, 152, 0.7);
  transition: background-color 0.3s, color 0.3s;
}

.sci-fi-button:hover {
  background-color: #40fe98;
  color: #ffffff;
}

/* Sci-fi table */
.sci-fi-table {
  width: 100%;
  border-collapse: collapse;
}

.sci-fi-table th, .sci-fi-table td {
  padding: 10px;
  text-align: left;
}

.sci-fi-table th {
  background-color: #40fe98;
  color: white;
  font-family: 'Orbitron', sans-serif;
  border-bottom: 2px solid #ffffff;
}

.sci-fi-box {
  background-color: #ffffff;
  border: 1px solid #40fe98;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(64, 254, 152, 0.5);
}

.sci-fi-buttons {
  margin: 10px 0;
}

.sci-fi-btn {
  border: 1px solid #40fe98;
  color: #556B2F;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px;
  box-shadow: 0 0 5px rgba(64, 254, 152, 0.7);
  transition: background-color 0.3s, color 0.3s;
}

.sci-fi-btn:hover {
  background-color: #556B2F;
  color: #ffffff;
}

/* Sci-fi input */
.sci-fi-label {
  color: #556B2F;
  font-family: 'Orbitron', sans-serif;
}

.sci-fi-input {
  background-color: #ffffff;
  border: 1px solid #40fe98;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(64, 254, 152, 0.5);
}

/* Sci-fi submit button */
.sci-fi-submit {
  border: 2px solid #40fe98;
  color: #ffffff;
  background-color: #556B2F;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0 0 5px rgba(64, 254, 152, 0.7);
  transition: background-color 0.3s, color 0.3s;
}

.sci-fi-submit:hover {
  background-color: #d83656;
  color: #ffffff;
}
