


<div class="pb-4">
    <div class="container pt-2" style="background-color: white;">
        <div class="row">
            <div class="col-9 mt-2">
                <h3 class="fw-light">Prohibition</h3>
            </div>
        </div>
        <hr>
        

        <div class="row p-4" style="background-color: white">
            <div class="col-5">
                <table class="table">
                    <tr>
                        <td><input type="checkbox" checked></td>
                        <td>Global prohibition</td>
                        <td><input type="text" style="height: 30px;"></td>
                        <td class="col"> <input class="btn custom-button" type="button" value="Save"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <table class="table table-striped fw-light">
                    <thead class="blue-thead">
                        <tr >
                            <th scope="col">Is active</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Date created</th>
                            <th scope="col">Modified by</th>
                            <th scope="col">Date modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yes</td>
                            <th scope="row">15</th>
                            <td>admin</td>
                            <td>12.07.2024 01:45</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <th scope="row">30</th>
                            <td>admin</td>
                            <td>12.07.2024 01:44</td>
                            <td>admin</td>
                            <td>12.07.2024 01:45</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <th scope="row">30</th>
                            <td>admin</td>
                            <td>06.08.2019 09:29</td>
                            <td>admin</td>
                            <td>12.07.2024 01:44</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>