<div class="pb-4">
    <div class="container pt-2" style="background-color: white;">

        <div class="row">
            <div class="col-9 mt-2">
                <h3 class="fw-light">Prohibition</h3>
            </div>
        </div>
        <hr>
        


        <div class="row">
            <div class="container">
                <table class="table table-striped fw-light">
                    <thead class="blue-thead">
                        <tr >
                            <th scope="col">Operator code</th>
                            <th scope="col">Operator name</th>
                            <th scope="col">Custom prohibition days</th>
                            <th scope="col"><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>85</td>
                            <td scope="row">MTel</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td scope="row">Актон</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td scope="row">Албафоне</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td scope="row">Алтра САТ</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td scope="row">Близу</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td scope="row">ВИП Оператор</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td scope="row">ГИВ Гостивар</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td scope="row">Космофон</td>
                            <td><input type="number"> <input type="checkbox"></td>
                            <td><img src="http://88.85.105.139/AEC-NumberPortability/images/graphics.jpg"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center p-3" style="background-color: #f6f3f4">
                    <input class="btn btn-sm custom-button" type="button" value="Save" >
                </div>
            </div>
        </div>
    </div>
</div>