

<div class="container">
    <div class="row">
      <div class="col pt-2 mx-2" style="  background-color: white">
        <div>
  
          <div>
            <label for="statusSelect">{{'portedsRequests.selectStatus'|translate}}:</label>
            <select class="ms-1" id="statusSelect" [(ngModel)]="selectedStatus" (ngModelChange)="loadPortingRequests()">
              <option value="PENDING">{{'portedsRequests.pending'|translate}}</option>
              <option value="ACCEPT">{{'portedsRequests.accept'|translate}}</option>
              <option value="EXIT">{{'portedsRequests.reject'|translate}}</option>
            </select>
          </div>
          
          
          <div>
            <table class="table table-striped extra-extra-small-text mt-3">
              <thead class="blue-thead">
                <tr>
                  <th class="fw-light" scope="col">{{'portedsRequests.dateOfPorting'|translate}}</th>
                  <th class="fw-light" scope="col">{{'portedsRequests.donorOperatorCode'|translate}}</th>
                  <th class="fw-light" scope="col">{{'portedsRequests.recipientOperatorCode'|translate}}</th>
                  <th class="fw-light" scope="col">{{'portedsRequests.donorRoutingCode'|translate}}</th>
                  <th class="fw-light" scope="col">{{'portedsRequests.status'|translate}}</th>
                  <th class="fw-light" scope="col"></th>
                  <th class="fw-light" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of portingRequest">
                  <td>{{request.dateOfPorting}}</td>
                  <td>{{request.donorOperatorCode }}</td>
                  <td>{{ request.recipientOperatorCode }}</td>
                  <td>{{ request.donorRoutingCode }}</td>
                  <td>{{ request.status }}</td>
                  <td scope="col"><button class="btn custom-button">{{'portedsRequests.acceptLower'|translate}}</button></td>
                  <td scope="col"><button class="btn custom-button-reverse">{{'portedsRequests.rejectLower'|translate}}</button></td>
                </tr>
              </tbody>
            </table>

            <div class="container p-3" style="background-color: #d83656;">
              <div class="col-xs-12 col-12">
                  <pagination
                    [totalItems]="totalItems"
                    [(ngModel)]="currentPage"
                    [itemsPerPage]="itemsPerPage"
                    (pageChanged)="pageChanged($event)"
                    [maxSize]="5"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    [previousText]="'<'"
                    [nextText]="'>'"
                  ></pagination>
                </div>
          </div>

          </div>
  
        </div>
      </div>
    </div>
  </div>