
<header class="main-header">
  <h1><span>Agency for Electronic</span> Communications</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
    quam!
  </p>
</header>

<main class="container">
  <section class="card">
    <img src="https://i.ibb.co/VvC0vpN/paint-1.png" alt="" />
    <div>
      <h3>Operators</h3>
      <p>
        All operators available in our network are shown here. Each operator has a unique code and name, which allows you to easily identify and manage them.
      </p>
      <a href="#" class="btn">See Operators</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="https://i.ibb.co/3NHjDcW/paint-2.png" alt="" />
    <div>
      <h3>Actions</h3>
      <p>
        Here you can search for numbers using NS (National Significant Number) and NDC (National Destination Code). Enter your criteria in the search form and click "Search" to get the results.
      </p>
      <a href="#" class="btn">Search numbers</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="https://i.ibb.co/0VywMkW/paint-3.png" alt="" />
    <div>
      <h3>Ported Number History</h3>
      <p>
        History of ported numbers page allows you to view the history of ported numbers. View details of all numbers that have been ported to or from our network.
      </p>
      <a href="#" class="btn">Check</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="https://i.ibb.co/5LkJFRP/paint-4.png" alt="" />
    <div>
      <h3>Calendar</h3>
      <p>
        Here you can view the calendar for all non-working days in the current year. These days include holidays, national and local holidays, and other significant dates.
      </p>
      <a href="#" class="btn">See dates</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="https://i.ibb.co/61R8Q2y/paint-5.png" alt="" />
    <div>
      <h3>Users</h3>
      <p>
        In Users page you can view and manage all users in the system. This page allows you to view details about each user, such as name, role, and description.
      </p>
      <a href="#" class="btn">See Users</a>
    </div>
  </section>
</main>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 400, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 1000 // values from 0 to 3000, with step 50ms
  });
</script>